<select class="select" data-bind="
    attr: {
        name: inputName,
        id: uid,
        disabled: disabled,
        'aria-describedby': getDescriptionId(),
        'aria-required': required,
        'aria-invalid': error() ? true : 'false',
        placeholder: placeholder
    },
    hasFocus: focused,
    optgroup: options,
    value: value,
    optionsCaption: caption,
    optionsValue: 'value',
    optionsText: 'label',
    afterRender: function (element) {
            select2(element);
        },
    optionsAfterRender: function(option, item) {
        if (item && item.disabled) {
            ko.applyBindingsToNode(option, {attr: {disabled: true}}, item);
        };
    }"
/>
<div class="novaposhta-city-fast" data-bind="foreach: city_fast">
    <a data-bind="href:$data.value,text: $data.label, click: function(){$parent.onCityFastClick($data.value,$data.label)}"></a>
</div>