<div style="margin-top: 0px;" class="input-block-level" data-bind="visible: selectedMethodCode()=='novaposhta_to_door'">
<textarea class="admin__control-textarea" data-bind="
    value: value,
    valueUpdate: valueUpdate,
    hasFocus: focused,
    attr: {
        name: inputName,
        cols: cols,
        rows: rows,
        'aria-describedby': noticeId,
        placeholder: placeholder,
        id: uid,
        disabled: disabled
    }"
/>
    <label class="label-np-help" data-bind="i18n: 'Введите адрес для доставки курьером'"></label>
</div>
