<div style="margin-top: 0px;" class="warehouse input-block-level" data-bind="visible: selectedMethodCode()=='novaposhta_to_warehouse'">
    <select style="width:100%" class="select" data-bind="
    attr: {
        name: inputName,
        id: uid,
        disabled: disabled,
        'aria-describedby': getDescriptionId(),
        'aria-required': required,
        'aria-invalid': error() ? true : 'false',
        placeholder: placeholder
    },
    hasFocus: focused,
    optgroup: options,
    value: value,
    optionsCaption: caption,
    optionsValue: 'value',
    optionsText: 'label',
    afterRender: function (element) {
            select2(element);
        },
    optionsAfterRender: function(option, item) {
        if (item && item.disabled) {
            ko.applyBindingsToNode(option, {attr: {disabled: true}}, item);
        }
    }"
            />
    <label class="label-np-help" data-bind="i18n: 'Введите для поиска адрес или номер отделения'"></label>
</div>
